[submodule "modules/usbadc-support"]
	path = modules/acm-toolbox
	url = ../usbadc-support
[submodule "modules/mecatica-usb"]
	path = modules/mecatica-usb
	url = ../mecatica-usb
[submodule "modules/efx-scripts"]
	path = modules/efx-scripts
	url = ../efx-scripts.git
[submodule "modules/jtag-utils"]
	path = modules/jtag-utils
	url = ../jtag-utils
[submodule "modules/VirtualUSBDevice"]
	path = modules/VirtualUSBDevice
	url = ../VirtualUSBDevice
	branch = stti_feature
[submodule "modules/cobs"]
	path = modules/cobs
	url = ../cobs
